<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<ul>
    <li>
        <a href="{% url 'index' %}">На главную</a>
        {% if user.is_authenticated %}
            <a href="{% url 'auth_logout' %}">Logout</a>
            <a href="{% url 'question_add' %}">Задать вопрос</a>
        {% else %}
            <a href="{% url 'registration_register' %}">Sign Up</a>
    </li>
    <li>
            <a href="{% url 'auth_login' %}">Login</a>
        {% endif %}
    </li>
</ul>
{% block content %}
{% endblock %}
</body>
</html>