{% extends "base.html" %}
{% block content %}
<h1>Авторизация</h1>

{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны. 
{% else %}

{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}

{% include 'form.html' %}
    
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

 <br/><br/>
    <a href="{% url 'auth_password_reset' %}">Забыли пароль?</a><br>
    <a href="{% url 'registration_register' %}">Регистрация</a><br>
    <a href="{% url 'socialauth_begin' 'facebook' %}">Войти через Facebook</a><br>
{% endif %}
{% endblock %}