{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h4>
                {{ question.caption }}
            </h4>
            <p>{{ question.text }}</p>
            <i style="font-size: 12px;">{{ question.author.username }} {{ question.timestamp|date:"d/m/Y H:i" }}</i>
        </div>
    </div>
    {% if question.comments.all %}
        <h5> Комментарии: </h5>

        <div class="panel panel-default">
            <ul class="list-group">
                {% for comment in question.comments.all %}
                    <li class="list-group-item">{{ comment.text }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
                {% include 'form.html'%}
            {% else %}
                {% include 'loginplease.html' %}
            {% endif %}

{% endblock %}